<nav class="navbar sticky-top navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Wikinimous</a>
    <%= button_to "New article", new_article_path, :type => "button",
      :class => "btn btn-outline-info", :method => :get %>
  </div>
</nav>